.card-body{
font-size: 22px;
text-align: center;
height: 80px;
font-family: fantasy;
}
.jumbotron {
    background-image: url("./images/union.jpeg");
    height: 300px;
    background-size: cover;
    margin-bottom: 0rem;
  }
  #email{
    text-align: right;
    
  }
  #about{
    background-color: gray;

  }